<li>
	<%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
        <%= link_to "", task_path(@task), method: :delete, class: "fas fa-trash-alt", remote: true %>
</li>