alert("le fichier JS est exécuté!");
document.getElementsByClassName("text-center mb-4")[0].insertAdjacentHTML("beforeend", "<p>COUCOU</p>");
document.getElementByID("task-list").insertAdjacentHTML("beforeend", "<li>COUCOU</li>")